<form #myForm="ngForm"  >
  <div id="myform" align="center">
    <div id="form">
      <div class="form-group">
        <label>Nome</label>
        <input type="text" class="form-control"
               required [(ngModel)]="user.nome" name="titolo">
      </div>
      <div class="form-group">
        <label>Cognome</label>
        <input type="text" class="form-control"
               required [(ngModel)]="user.cognome" name="autore">
      </div>
      <div class="form-group">
        <label>Comune</label>
        <input type="text" class="form-control"
               required [(ngModel)]="user.comune" name="autore">
      </div>
      <div class="form-group">
        <label>Giorno</label>
        <select>
          <option >1</option>
          <option >2</option>
          <option >3</option>
          <option>4</option>
          <option >5</option>
          <option >6</option>
          <option >7</option>
          <option>8</option>
          <option >9</option>
          <option >10</option>
          <option >11</option>
          <option>12</option>
          <option >13</option>
          <option >14</option>
          <option >15</option>
          <option>16</option>
          <option >17</option>
          <option >18</option>
          <option >19</option>
          <option>20</option>
          <option >21</option>
          <option >22</option>
          <option >23</option>
          <option>24</option>
          <option >25</option>
          <option >26</option>
          <option >27</option>
          <option>28</option>
          <option >29</option>
          <option >30</option>
          <option >31</option>
        </select>
      </div>
      <div class="form-group">
        <label>Mese</label>
        <select>
          <option >1</option>
          <option >2</option>
          <option >3</option>
          <option>4</option>
          <option >5</option>
          <option >6</option>
          <option >7</option>
          <option>8</option>
          <option >9</option>
          <option >10</option>
          <option >11</option>
          <option>12</option>
        </select>
      </div>
    </div>
    <p>
      <button type="submit" id="submit" (click)="addUser(user)" [disabled]="myForm.invalid">Invia</button>
    </p>
  </div>
</form>

